<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<style>
    .table-container {
        padding: 20px 25px;
    }
    .title {
        font-size: 20px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 30px;
    }
    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    #customers tr:nth-child(even){background-color: #FFF;}
    
    #customers tr:hover {background-color: #ddd;}
    
    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04AA6D;
      color: white;
    }
</style>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create User</a>
    </div> 
    <div class="table-container">        
        <div class="title">List Users</div>    
        <table id="customers">
            <tr>
                <th>ID - Index</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th>Action</th>
            </tr> 
            <% listUsers.forEach(function(user, index) { %>
                <tr>
                    <td>
                        <%= user.id %> - <%= index %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.city %>
                    </td>
                    <td>
                        <button><a href="/update/<%= user.id %>">Edit</a></button>
                        <button>Delete</button>
                    </td>
                </tr>
            <% }); %>
        </table>
    </div>
</body>
</html>